@model ReviewViewModel

<h1>Review - @Model.Name <span class="h4 text-secondary">@Model.Type, @Model.PublishDate?.ToString("yyyy-MM-dd")</span></h1>

<form asp-action="SubmitReview" method="post" class="mt-4">
	<input type="hidden" asp-for="ReturnUrl" />
	<input type="hidden" asp-for="MediumId" />
	<input type="hidden" asp-for="Name" />
	<input type="hidden" asp-for="Type" />
	<input type="hidden" asp-for="PublishDate" />
	<div class="form-group">
		<label for="feeling">Feeling</label>
		<select asp-for="Feeling" class="form-control">
			<option value="Recommended" selected>Recommended</option>
			<option value="Not recommended">Not recommended</option>
			<option value="Mixed feelings">Mixed feelings</option>
		</select>
	</div>
    <div class="form-group mt-3">
        <label for="description">Description</label>
        <textarea asp-for="Description" class="form-control" rows="5" placeholder="Write your review here..."></textarea>
    </div>
    <button type="submit" class="btn btn-success mt-4">Submit Review</button>
</form>
