@model Application.Models.Review

@{
    ViewData["Title"] = "AddReview";
}

<h1>AddReview</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Accountid" class="control-label"></label>
                <select asp-for="Accountid" class ="form-control" asp-items="ViewBag.Accountid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mediumid" class="control-label"></label>
                <select asp-for="Mediumid" class ="form-control" asp-items="ViewBag.Mediumid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

