@{
	ViewData["Title"] = "Explore Users";
}

@model IEnumerable<dynamic>

<div class="row">
	@foreach(var item in Model)
	{
		<div class="card">
			<div class="card-body d-flex align-items-center justify-content-between p-2">
				<div class="d-flex align-items-start">
					<img src="@(item.Imagelink ?? "/images/placeholder.svg")" alt="profile picture" class="me-5" style="width: 12vh; height: 12vh; object-fit: cover; border-radius: 5%;" />
					<div>
						<h5 class="card-title">@item.UserName</h5>
						<p class="card-text mb-0">@(item.Description ?? "No description available.")</p>
					</div>
				</div>
				<a href="/Account?username=@item.UserName" class="btn btn-sm btn-primary">></a>
			</div>
		</div>
	}
</div>