<nav class="navbar navbar-primary navbar-expand-sm navbar-toggleable-sm mb-3">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Explore" asp-action="Anime">Anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Explore" asp-action="Manga">Manga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Explore" asp-action="Character">Characters</a>
            </li>
        </ul>
    </div>
</nav>
