@{
    ViewData["Title"] = "Edit account";
}

@model UserEditViewModel

<h1>Edit Your Profile</h1>

<p>@TempData["SuccessMessage"]</p>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ProfilePicture">Profile Picture</label>
        <input type="file" name="ProfilePicture" class="form-control" accept="image/png, image/gif, image/jpeg" />
    </div>

    <div class="form-group">
        <label asp-for="CurrentPassword">Current Password</label>
        <input asp-for="CurrentPassword" type="password" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">New Password (optional)</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm New Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
