@{
	//ViewData["Title"] = "User info";
}

@model UserInfoViewModel


<div class="text-center">
    <p>@Model.UserName</p>
	<p>@Model.Createdate</p>
	<p>@Model.Description</p>
	<p>@Model.Imagelink</p>
</div>

