@{
	ViewData["Title"] = "Moderator Panel";
}


<div class="text-center">
	<h1>Moderator Panel</h1>
</div>
<div class="col-md-4">
	<h5>Manager</h5>
	<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Genres">
		Genres
	</a>
	<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Characters">
		Characters
	</a>
	<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Studios">
		Studios
	</a>
	<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Authors">
		Authors
	</a>
	<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Anime">
		Anime
	</a>
	<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Mangas">
		Mangas
	</a>
</div>