@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["UserName"]</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h5>Recent activity</h5>
    </div>

    <div class="col-md-6">
        <h5>Newly added content</h5>
    </div>
</div>